<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: #5081ca;" text="Geri" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ödeme Sayfası</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="form-field">
    <label [ngClass]="focused ? 'label-focused' : ''">Kart Sahibi Adı Soyadı</label>
    <input type="text" (focus)="focused = true"  (blur)="onBlur($event)" />
  </div>

  <div class="form-field">
    <label [ngClass]="focused ? 'label-focused' : ''">Kart Numarası</label>
    <input type="text" (focus)="focused = true"  (blur)="onBlur($event)" />
  </div>

    <ion-row>
      <ion-col>
        <div class="form-field">
          <label [ngClass]="focused ? 'label-focused' : ''">Ay</label>
          <input type="text" (focus)="focused = true" (blur)="onBlur($event)" />
        </div>
      </ion-col>
      <ion-col>
        <div class="form-field">
          <label [ngClass]="focused ? 'label-focused' : ''">Yıl</label>
          <input type="text" (focus)="focused = true"  (blur)="onBlur($event)" />
        </div>
      </ion-col>
    </ion-row>

    <div class="form-field">
      <label [ngClass]="focused ? 'label-focused' : ''">Sipariş Notu</label>
      <input type="text" (focus)="focused = true"  (blur)="onBlur($event)" />
    </div>
  

    <app-product-button >
      Öde:&nbsp; <span> {{ totalAmount$|async|number:"1.2" }}<sup>₺</sup></span>
    </app-product-button>
</ion-content>
