<div class="card">
  <ion-img [src]="item.image"></ion-img>
  <div class="card-content">
    <h3 class="title" (click)="clicked.emit()">
      {{ item.title }}
    </h3>
    <h2 class="subtitle">
      {{ item.price | number: '1.2' }}
      <sup>₺</sup>
    </h2>

    <div class="actions">
      <ion-buttons>
        <ion-button (click)="increase.emit()" >
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        <div class="counter">31</div>
        <ion-button (click)="decrease.emit()">
          <ion-icon  slot="icon-only" name="remove"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    
  </div>
</div>