* {
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 25%;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

h3 {
  color: #939fab;
  font-weight: 600;
}

form {
  margin-top: 6rem;
  .phone {
    ion-item:nth-child(1) {
      border: 1px solid var(--ion-color-medium-tint);
      border-radius: 6px;
      z-index: 1;
      position: relative;
      height: 50px;
      margin-bottom: 4px;
      // &.active {
      //   border: 1px solid var(--ion-color-primary);
      // }
    }
    ion-item.item-has-focus {
      border: 1px solid var(--ion-color-primary);
    }
    ion-item.item-has-focus > ion-label {
      color: var(--ion-color-primary) !important;
    }
    ion-input {
      margin-bottom: 10px;
    }
    .text-label {
      color: var(--ion-color-medium-tint);
      position: fixed;
      z-index: 10;
      background-color: white;
      padding: 0 4px;
      margin-top: -14px;
      // &.activelabel {
      //   color: var(--ion-color-primary);
      //     margin-top: -6px;
      // }
    }
  }
  span {
    color: var(--ion-color-danger-shade);
    font-size: 14px;
    margin-left: 5px;
  }

  .forgot-password-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    color: #4a4a4a;
  }
  .policy {
    border-radius: 20px;
    margin-top: 0.5em;
    display: flex;
    align-items: center;

    ion-checkbox {
      position: absolute;
      left: 0;
    }

    ion-label {
      margin-left: 1em;
      font-style: italic;
      text-decoration-line: underline;
    }
  }
  ion-button {
    --box-shadow: none;
    --border-radius: 10px;
    --background: linear-gradient(90deg, #5081ca 0%, #09306b 100%);
    height: 48px;
    font-size: 1rem;
    color: #fff;
    margin-top: 1rem;
    text-transform: initial;
  }
}
