ion-content {
  --background: linear-gradient(
    91.82deg,
    #2e93e5 2.33%,
    rgba(46, 147, 229, 0.95) 96.63%
  );
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;

    ion-button {
      height: 60px;
      width: 60px;

      ion-icon {
        font-size: 2rem;
      }
    }
  }

  .card {
    height: 83%;
    width: 100%;
    background-color: var(--ion-color-primary-contrast);
    position: absolute;
    bottom: 0;
    border-radius: 3rem 3rem 0 0;
    padding: 2rem;

    .image {
      position: absolute;
      top: -4.5rem;
      width: 50%;
      left: 50%;
      transform: translateX(-50%);
    }
    .card-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .about {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .card-title {
        margin-top: 35%;
        margin-bottom: 1.2rem;

        h1 {
          font-weight: 700;
          font-size: 1.2rem;
          color: #7a7a7a;
        }

        p {
          font-size: 1.2rem;
          font-weight: 700;
          color: #ffb800;
        }
      }
    }
    ion-button {
      --background: linear-gradient(
        91.82deg,
        #2e93e5 2.33%,
        rgba(46, 147, 229, 0.6) 96.63%
      );
      --border-radius: 30px;
      width: 90%;
      font-weight: 700;
    }
    .rates {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
    }

    .about {
      margin-bottom: 2.5rem;

      h1 {
        font-weight: 600;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: #b9b9b9;
      }
    }
  }
}
